In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
gov_emp = pd.read_csv('Government_Employees_Demograpy.csv')

In [4]:
gov_emp.head()

,Pay Grade / Step,Annual Salary,Class,Title,Current Department,Employment Status,EEO Job Category Description,Gender,Ethnic Code Description,Year of Birth,Date Started,FLSA Exempt?,County
0,OR06,43390.46,7757,Technical Specialist 2,Police,Parttime,Professionals,M,White,1950,7/16/1972,Y,Davidson
1,OR04,72688.60,7753,Professional Spec,Police,Fulltime,Professionals,F,White,1952,8/18/1972,Y,Davidson
2,OR07,113468.17,7242,Admin Svcs Mgr,Water Services,Fulltime,Officials and administrators,M,Black or African American,1950,2/26/1973,Y,Davidson
3,OR09,121002.72,10863,Admin Svcs Division Manager,Metropolitan Council,Fulltime,Officials and administrators,F,White,1956,9/1/1974,Y,Davidson
4,FD03,76225.40,11172,Advanced Emergency Med Tech,Fire,Fulltime,Technicians,M,White,1954,11/1/1974,N,Wilson

In [8]:
#gov_emp.info()

In [6]:
#change the Date Started column to datetime
gov_emp['Date Started'] = pd.to_datetime(gov_emp['Date Started'])

In [7]:
gov_emp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10782 entries, 0 to 10781
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Pay Grade / Step              10782 non-null  object
 1   Annual Salary                 10693 non-null  float64
 2   Class                         10782 non-null  int64
 3   Title                         10782 non-null  object
 4   Current Department            10782 non-null  object
 5   Employment Status             10782 non-null  object
 6   EEO Job Category Description  10782 non-null  object
 7   Gender                        10782 non-null  object
 8   Ethnic Code Description       10782 non-null  object
 9   Year of Birth                 10782 non-null  int64
 10  Date Started                  10782 non-null  datetime64[ns]
 11  FLSA Exempt?                  10773 non-null  object
 12  County                        10782 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 1.1+ MB

#Clean the census data on excel and bring it here